<%- include('partials/dashboard_nav') %>

  <main class="main">
    <div class="container">
      <div class="heading">
        <p class="dashboard_text">Dashboard</p>
        <h4 class="welcome">Welcome <%= user.personal.name %>
        </h4>
      </div>
    </div>

    <div class="box">
      <div class="balance_display">
        <p class="balance">Current Balance 
          <%= user.balance %>/-
        </p>
      </div>
    </div>

    <div class="icons">
      <div class="icon">
        <a href="/money_transfer">
          <img src="Resources/Logo_Transfer.png" alt="img" />
          <p class="icon_text">Transfer Money</p>
        </a>
      </div>

      <!-- <div class="icon">
        <a href="/history">
          <img src="Resources/Logo_Apply.png" alt="img" />
          <p class="icon_text">Transaction History</p>
        </a>
      </div>

      <div class="icon">
        <a href="/cards">
          <img src="Resources/Logo_Cards.png" alt="img" />
          <p class="icon_text">View Cards</p>
        </a>
      </div> -->

      <div class="icon">
        <a href="/interestcalculator">
          <img src="Resources/Logo_Calculator.png" alt="img" />
          <p class="icon_text">Interest Calculator</p>
        </a>
      </div>

      <div class="icon">
        <a href="emicalculator">
          <img src="Resources/Logo_Calculator.png" alt="img" />
          <p class="icon_text">EMI Calculator</p>
        </a>
      </div>

      <div class="icon">
        <a href="/holidays" target="_blank">
          <img src="Resources/Logo_Holiday.png" alt="img" />
          <p class="icon_text">Bank Holidays</p>
        </a>
      </div>
    </div>

    <%- include('extras/card') %>
    <%- include('extras/history') %>
    <!-- <div class="cards">
      <div class="card_text">
        <p>Your Cards :</p>
      </div> -->
    <!-- <div class="card_flex">
        <% user.creditCard.forEach(function(item) { %>

          <div class="card">
            <div class="card_body">
              <p class="card_title">
                <%= item.cardNumber %>
              </p>
              <p class="card_name">
                <%= item.cardname %>
              </p>
              <div class="card_footer">
                <p class="card_date">Expiry:<%= item.expiry %>
                </p>
                <img src="Resources/smallLOGO.svg" alt="img" />
              </div>
            </div>
          </div>

          <%})%>
      </div> -->
    <!-- <div class="card">
        <div class="card_body">
          <p class="card_title">XXXX XXXX XXXX XXXX</p>
          <p class="card_name">Name LastName</p>
          <div class="card_footer">
            <p class="card_date">Expiry Date :</p>
            <img src="Resources/smallLOGO.svg" alt="img" />
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </main>
  <%- include('partials/footer') %>